@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to right, #5433FF 0%, #20BDFF 57%, #56FFC2 100%);
  color: #fff;
}
.card {
  background: #262626;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  background-image: linear-gradient(to right, #5433FF 0%, #20BDFF 57%, #56FFC2 100%);
  background-position-x: 22%;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 40%;
  color: transparent;
  padding: 1rem;
  text-align: right;
  font-weight: bold;
  font-size: 13px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}
.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid 353535;
  background: #262626;
  top: 15px;
  left: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-avatar img {
  width: 69px;
  height: 69px;
}
.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}
img {
  height: 18px;
  margin: 0 auto;
}
.img-portada {
  width: 100%;
}
.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: bottom center;
  background-size: cover;
}
button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
}
button:hover{
  color: #4CAF50;
  transform: rotate(22deg)
}
a {
  color: #b0e3ff;
  text-decoration: none;
}
a:hover { text-decoration: 1px solid underline }